<nav id="app-header" class="nav has-shadow">
  <div class="container">
      <a routerLink="/" class="nav-item">
        <img src="https://pbs.twimg.com/profile_images/635867807981379584/sA1V-rRi_bigger.jpg" alt="United Airlines">
      </a>
      <a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" class="is-tab nav-item">Home</a>
      <a routerLink="/flights" routerLinkActive="is-active" class="is-tab nav-item">Flights</a>
      <div class="nav-right nav-menu">
        <div class="nav-item">
            <a target="_blank" rel="noopener" href="https://twitter.com/united" class="button">
            <span>Follow Us</span></a>
        </div>
      </div>
  </div>
</nav>
<section class="main-section section">
  <div class="container content">
    <router-outlet></router-outlet>
  </div>
</section>
