<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="united-flight">
  <template>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://pbs.twimg.com/profile_images/635867807981379584/sA1V-rRi_bigger.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{flight.number}}</p>
            <p class="subtitle is-6">{{flight.destination}}</p>
          </div>
        </div>

        <div class="content">
          <small>11:09 PM - 1 Jan 2016</small>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "united-flight",
      properties: {
        flight: {
            type: Object,
            value: function() { return {}; }
          }
      }
    })
  </script>
</dom-module>
