<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/elements/united-flight.html">

<dom-module id="united-list">
  <template>
    <style>
      .columns{
        display: flex;
        flex-wrap: wrap;
        box-sizing: inherit;
      }
      .column{
        flex: none;
        width: 33.3333%;
        padding:.75rem;
        display: block;
        box-sizing: inherit;
      }
    </style>
    <div class="columns">
      <template is="dom-repeat" items="{{list}}">
          <united-flight class="column is-one-third" flight="{{item}}"></united-flight>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: "united-list",
      properties: {
        list: {
          type: Array,
          value: function() { return []; }
        }
      }
    })
  </script>
</dom-module>
